<div class="container footer">
    <div class="row">
        <div class="col-md">
            <div class="official">
                <img class="seal" src="{{ site.baseurl }}/images/home/gatech.png" />
                <p class="copyright">{{ site.title }} &copy; 2018 &middot;
                    <a href="https://github.com/changednameto" target="_blank">Will Mitchell</a>
                </p>
            </div>
        </div>
        <div class="col-md">
            <div class="icons">
                <a href="{{ site.facebook_url }}" onclick="openFacebook()" target="_blank">
                    <img src="{{ site.baseurl }}/images/home/facebook.png" />
                </a>
                <a href="https://github.com/gtgreekweek" target="_blank">
                    <img src="{{ site.baseurl }}/images/home/github.png" />
                </a>
            </div>
        </div>
    </div>
</div>
