---
layout: master
---

<nav class="navbar second-nav fixed-top">
    <div class="container">
        <a class="navbar-brand">
            Filter Events
        </a>
        <div class="nav justify-content-end">
            <a id            = "expand-icon"
               data-toggle   = "collapse"
               href          = "#nav-collapse"
               aria-expanded = "false"
               aria-controls = "#nav-collapse">
                <i class="material-icons">expand_more</i>
            </a>
        </div>
    </div>
</nav>
<div class="second-nav-collapsible">
    <div class="collapse" id="nav-collapse">
        <div class="container">
			<div id            = "mainAccordion"
                 data-children = ".item"
                 class         = "side-nav"
                 style         = "text-align:center">
				<button class="button outdoor">
			        Outdoor
				</button>
				<button class="button indoor">
			        Indoor
				</button>
				<button class="button water">
			        Water
				</button>
				<button class="button deadline">
			        Deadline
				</button>
				<button class="button event">
			        Event
				</button>
			</div>
		</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Repeat structure below for second calender -->
        <div class="post-header spacer">
            <!-- <div class="options nav">
                <a class="past-cal nav-link">View Past Semesters</a>
            </div> -->
            <h1 class="heading">{{ site.data.schedules.current-schedule.semester }}</h1>
        </div>
    </div>
    <div class="row schedule-container">
        <div class="col-lg">
            <ul class="calender">
                {% for entry in site.data.schedules.current-schedule.meetings %}
                <li class="meeting">
                    <div class="row entry">
                        <div class="cal-card">
                            <div class="date text-center">
                                <p>{{ site.data.schedules.months[entry.month] }}</p>
                                <h3>{{ entry.day }}</h3>
                            </div>
                            <div class="content">
                                <h5 class="topic">{{ entry.subject }}</h5>
                                <p class="card-text">{{ entry.description }}</p>
                                {% for tag in entry.tags %}
                                    <p class="label {{ tag }}">{{ tag }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- END: Repeat structure -->
</div>

{% include footer.html %}
